* {
  margin: 0;
  padding: 0;
}


.image {
  width: 30rem;
  height: 30rem;
}

.image1 {
  background-image: url('./assets/photo_2022-05-10_18-30-02.jpg') ;
  background-size: 100%;
  
}
.image2 {
  background-image: url('./assets/photo_2022-05-15_16-18-48.jpg') ;
  background-size: 100%;

}
.image3 {
  background-image: url('./assets/photo_2022-05-15_10-14-43.jpg');
  background-size: 100%;
}
.image4 {
  background-image: url('./assets/photo_2022-05-13_00-38-26.jpg');
  background-size: 100%;
}
.image5 {
  background-image: url('./assets/photo_2022-05-10_18-30-03.jpg');
  background-size: 100%;
}

.slider {
  width: 90%;
  max-width: 30rem;
  margin: 1.3rem auto;
  overflow: hidden;
  position: relative;
}

input {
  display: none;
}

.slider__memes {
  display: flex;
  width: calc(5 * 100%);
  /* gap: 1rem; */
  transition: .5s;
}

.slider__info {
  margin-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}

.description {
  height: 0;
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

#meme1:checked ~ .slider__info > .slider__text > .description-one,
#meme2:checked ~ .slider__info > .slider__text > .description-two,
#meme3:checked ~ .slider__info > .slider__text > .description-three,
#meme4:checked ~ .slider__info > .slider__text > .description-four,
#meme5:checked ~ .slider__info > .slider__text > .description-five {
  visibility: visible;
  opacity: 1;
}
#meme1:checked ~ .slider__info > .slider__text > .description-one {
  visibility: visible;
}

.buttons {
  display: flex;
}

.radion-button {
  width: 1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.radion-button span:hover { 
  background-color: #dee7e7;
  border-color: red;
}

.radion-button span {
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  border: solid 0.1rem #495053;
  background-color: #131414;
  border-radius: 50%;
  transition: .2s;
}

#meme1:checked ~ .slider__memes {
  transform: translateX(0);
}

#meme2:checked ~ .slider__memes {
  transform: translateX(-30rem);
}

#meme3:checked ~ .slider__memes {
  transform: translateX(-60rem);
}

#meme4:checked ~ .slider__memes {
  transform: translateX(-90rem);
}

#meme5:checked ~ .slider__memes {
  transform: translateX(-120rem);
}

#meme1:checked ~ .slider__info > .buttons > .rb1 > span,
#meme2:checked ~ .slider__info > .buttons > .rb2 > span,
#meme3:checked ~ .slider__info > .buttons > .rb3 > span,
#meme4:checked ~ .slider__info > .buttons > .rb4 > span,
#meme5:checked ~ .slider__info > .buttons > .rb5 > span {
  border: solid 0.1rem #4e404c;
  background-color: transparent;
}